@import '../../styles/main';

.Login {
  width: 100%;
  min-height: 100vh;
  background-color: $white;
  font-family: $avenir-regular;
  .container {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 6rem;
    @include mobile() {
       flex-direction: column;
       column-gap: normal;
    }
    @include tablet() {
      flex-direction: row;
      justify-content: center;
      column-gap: 4rem;
      flex-direction: column;
    }
  }

  .section1 {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    row-gap: 100px;
    @include mobile() {
       height: auto;
      }
    @include tablet() {
        height: auto;
      }
    .header {
      display: flex;
      column-gap: 0.5rem;
      align-items: center;
      margin-top: 4rem;
      @include mobile() {
        justify-content: center;
      }

      h2 {
        font-family: $avenir-bold;
        font-size: 1.5rem;
        color: $primary;
      }
    }
    .loginImage {
      width: 100%;
      @include mobile() {
        display: none;
      }
      @include tablet() {
        display: none;
      }
    }
  }
  .section2 {
    width: 50vw;
    height: 100vh;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    @include tablet() {
        height: auto;
        justify-content: center;
        align-items: center;
    }
    @include mobile() {
        height: auto;
        width: 100vw;
        justify-content: center;
    }

    h2 {
      font-family: $avenir-bold;
      font-weight: 700;
      font-size: 2rem;
      color: $primary;
      margin-top: 3rem;
      @include mobile() {
          margin-top: 2rem;
          text-align: center;
      }
    }

    p {
      color: $secondary;
      padding: 1rem 0;
      @include mobile() {
        text-align: center;
      padding: .5rem 0;

      }
    }

    form {
      margin-top: 2rem;

      input {
        width: 100%;
        outline: none;
        padding: 16px 14px;
        border: 2px solid $border-color;
        border-radius: 5px;
        margin: 1rem 0;
        height: 100%;
        max-width: 447px;
        @include tablet(){
          max-width: 360px;
        }
        @include mobile() {
          max-width: 100%;
        }
      }

      .password {
        position: relative;
        max-width: 447px;
       @include tablet() {
        // width: 100%;
        width: 360px;
      }
        @include mobile() {
          width: 100%;
          max-width: 100%;
        }
        span {
          position: absolute;
          top: 2.3rem;
          right: 1rem;
          font-size: 12px;
          text-transform: uppercase;
          color: $secondary2;
          @include tablet() {
            right: 2rem;
          }
        }
      }
      .forgot {
        display: block;
        margin: 1rem 0;
        text-decoration: none;
        color: $secondary2;

        &:hover {
          color: $secondary2-hover;
        }
      }
      button {
        background-color: $secondary2;
        display: block;
        width: 100%;
        max-width: 447;
        padding: 16px 14px;
        color: $white;
        font-weight: 600;
        outline: none;
        border-radius: 5px;
        border: none;
        margin-top: 1rem;
        width: 447px;
        @include tablet() {
          width: 360px;
        }
        @include mobile() {
          width: 100%;
        }
        &:hover {
          background-color: $secondary2-hover;
        }
      }
    }
  }
}
