$primary: #213F7D;
$secondary: #545f7d;
$secondary2:#39CDCC;
$info: #39CDCC;
$background:  rgba(229, 229, 229, .5);
$fade: rgba(84, 95, 125, 1);
$active-blue: rgba(84, 95, 125, 1);


$secondary2-hover: #39dbdb;
$secondary2-light: rgba(57, 205, 204, 20%);


$light: #f4f4f4;
$white: #fff;
$gray: #333;
$dark: rgb(22, 19, 19);
$success: #39CDCC;
$error: rgb(255, 81, 0);

$border-color: rgba(84, 95, 125, 15%);



