@import '_var';
@import '_func';


*, ::before, ::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $work-sans;
  width: 100%;
}


%btn-shared {
  display: inline-block;
  padding: 0.7rem 2rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin-top: 1rem;
}

.btn {
  &-light {
    @extend %btn-shared;
    background-color: $light;
    color: set-text-color($light);

    &:hover {
      background-color: darken($light, 10%);
    }
  }
  &-light {
    @extend %btn-shared;
    background-color: $light;
    color: set-text-color($light);
  }
  &-dark {
    @extend %btn-shared;
    background-color: $dark;
    color: set-text-color($dark);

    &:hover {
      background-color: lighten($dark, 10%);
    }
  }
  &-success {
    @extend %btn-shared;
    background-color: $success;
    color: set-text-color($success);
  }
  &-primary {
    @extend %btn-shared;
    background-color: $primary;
    color: set-text-color($primary);
  }
  &-error {
    @extend %btn-shared;
    background-color: $error;
    color: set-text-color($error);
  }
}
