@import '_var';
@import '_func';


*, ::before, ::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $work-sans;
  width: 100%;
  background-color: $background;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;;
}

.center {
  text-align: center;
}

%status-shared {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  padding: .5rem 1rem;
  width: 150px;
  border-radius:100px;
  -webkit-border-radius:100px;
  -moz-border-radius:100px;
  -ms-border-radius:100px;
  -o-border-radius:100px;
}

.pending {
  @extend %status-shared;
  background-color:  rgba(233, 178, 0, .1);;
  color: #E9B200;
}

.active {
  @extend %status-shared;
  color: rgb(57, 205, 98);
  background-color:  rgba(57, 205, 98, .1);
  ;
}

.inactive {
  @extend %status-shared;
  background: rgba(84, 95, 125, .1);
  color: #545F7D;
}

.blacklisted {
  @extend %status-shared;
  background-color: rgba(228, 3, 59, .1);
  color: #E4033B;

} 

%btn-shared {
  display: inline-block;
  padding: 0.7rem 2rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin-top: 1rem;
}

.btn {
  &-light {
    @extend %btn-shared;
    background-color: $light;
    color: set-text-color($light);

    &:hover {
      background-color: darken($light, 10%);
    }
  }
  &-light {
    @extend %btn-shared;
    background-color: $light;
    color: $secondary;
    border: 1px solid $secondary;
  }
  &-dark {
    @extend %btn-shared;
    background-color: $dark;
    color: set-text-color($dark);

    &:hover {
      background-color: lighten($dark, 10%);
    }
  }
  &-secondary {
    @extend %btn-shared;
    background-color: $dark;
    color: set-text-color($dark);

    &:hover {
      background-color: lighten($dark, 10%);
    }
  }
  &-success {
    @extend %btn-shared;
    background-color: $success;
    color: set-text-color($success);
  }
  
  &-primary {
    @extend %btn-shared;
    background-color: $primary;
    color: set-text-color($primary);
  }
  &-error {
    @extend %btn-shared;
    background-color: $error;
    color: set-text-color($error);
  }
}
